html {
    background: url(/lake.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 80px;
    padding-bottom: 50px;
    background: transparent;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.affix-top {
    width: 180px;
    top: 0;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
}

.affix {
    width: 180px;
    top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.affix-bottom {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #eee;
    width: 100%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-top: thin solid #ddd;
}
