@{
    ViewBag.Title = "Facts";
}
<h1>Vet du att...</h1>
<ul>
    <li>1 miljard människor använder produkter för att färga eller bleka håret</li>
    <li>I snitt behandlar de håret en gång varannan månad, dvs 6 ggr per år</li>
    <li>Vid varje tillfälle sköljer man ut 10 liter förorenat vatten</li>
    <li>Per år: 1 miljard*6*10=60 miljarder liter vatten som förorenas/år</li>
    <li>Vattnet innehåller hög koncentration av giftiga ämnen som både är till skada för miljön och även är allergiframkallande för både frisörerna och för den som behandlas</li>
</ul>