@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title</h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Varför ska jag skriva under?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Hur hanterar ni min personinformation?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                Cras molestie tortor id arcu sagittis, nec sodales dolor mollis. Nullam nec odio elit. Proin viverra risus sed vestibulum ullamcorper. Suspendisse laoreet massa at massa ullamcorper, sit amet vestibulum orci mollis. Integer suscipit, tortor sed consectetur efficitur, mi purus placerat diam, id tempus purus justo et lectus. Morbi nisl diam, venenatis eget ligula quis, ultrices eleifend arcu. Proin odio lacus, fermentum eget congue sit amet, lobortis in quam. Suspendisse id felis ipsum. Suspendisse ex ex, pretium at magna in, sollicitudin sollicitudin diam.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Men det finns väl miljövänliga alternativ?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Donec id malesuada ipsum, sed porttitor urna. Quisque cursus ipsum nec diam commodo convallis. Nam interdum molestie felis, vel auctor mauris rutrum non. Suspendisse mollis justo eu velit convallis venenatis. Ut nec mi mi. Vivamus nibh dolor, lacinia a accumsan vel, dapibus sit amet diam. Curabitur et purus convallis, dignissim leo vel, bibendum mi. Vivamus vehicula a justo non luctus. Proin eleifend ipsum eu leo vestibulum, quis tincidunt nulla suscipit.
            </div>
        </div>
    </div>
</div>
