@using Undye.Web.Models
@model IndexPetitionViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>#idontdye – turning shame into advocacy</h1>
<p>Each year, we colour our hair to cover the grey.</p>
<p>Each day, litres and litres of water-polluting, fish-deforming and allergy-causing chemicals go into our seas as we wash our coloured hair.</p>
<p>Each minute, we are injuring nature in order to cover up something natural.</p>
<p>This is a statement. Legislators and the environmental department need to take further actions to prevent the cheap production of hair colouring products and make sure water pollution get the consequences needed. And – above all - we need to stop colouring our hair.</p>
<p>So, sign up to the petition and take action. Be proud of your grey hair – it is activism.</p>
<p>#idontdye</p>